.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

@keyframes color {
  0% {
    background: #33cccc;
  }
  20% {
    background: #33cc36;
  }
  40% {
    background: #b8cc33;
  }
  60% {
    background: #fcca00;
  }
  80% {
    background: #33cc36;
  }
  100% {
    background: #33cccc;
  }
}

.left {
  left: 0;
  background: #33cccc; /* Fallback */
  animation: color 9s infinite linear;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.name_title {
  font-size: 48px;
  color: black;
  text-align: left;
  padding-bottom: 20px;
}

.brief_description {
  text-align: left;
}

.profile_image {
  width: 400px;
  height: auto;
  border: 5px solid #000000;
  border-radius: 50%;
}
